<!DOCTYPE html>
<html class="full-height" lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Macrohard</title>
    <meta name="description" content="Material design landing page template built"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/mdb.min.css" rel="stylesheet">
    <link href="../static/styles/main.css" rel="stylesheet">
  </head>
  <body id="top">
    <header>
      <!-- Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="navbar">
        <div class="container"><a class="navbar-brand" style="color: white;"><strong>MACROHARD</strong></a>
          </div>
      </nav>
      <!-- Intro Section-->
      <section class="view hm-gradient" id="intro">
        <div class="full-bg-img d-flex align-items-center">
          <div class="container">
            <div class="row no-gutters">
              <div class="col-md-10 col-lg-6 text-center text-md-left margins">
                <div class="white-text">
                  <div class="wow fadeInLeft" data-wow-delay="0.3s">
                    <h1 class="h1-responsive font-bold mt-sm-5">智简销售</h1>
                    <div class="h6">
                                                             智简销售引领未来               
                       <div class="h6">     
                                                             为顾客提供极简便利的服务
                    </div>
                  </div><br>
                  <div class="wow fadeInLeft" data-wow-delay="0.3s"><a class="btn btn-white dark-grey-text font-bold ml-0" href="login" target="_blank"><i class="fa fa-play mr-1"></i> 管理员登陆 </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
    </header>
    <div id="content">
<section class="row no-gutters" id="features">
  <div class="col-lg-3 col-md-6 col-sm-12 deep-purple lighten-1 text-white" >
    <div class="p-5 text-center wow zoomIn" data-wow-delay="2.5s"><i class="fa fa-line-chart fa-2x"></i>
      <div class="h5 mt-3">快速便利</div>
      <p class="mt-5">旨在实现无人超市，用户使用微信小程序完成自主购买商品</p>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 purple lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay="3s"><i class="fa fa-industry fa-2x"></i>
      <div class="h5 mt-3">高效管理</div>
      <p class="mt-5">有序管理界面，提供最快捷最准确的服务</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 teal lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay="3.5s"><i class="fa fa-users fa-2x"></i>
      <div class="h5 mt-3"> 精准推荐</div>
      <p class="mt-5">准确推测用户爱好，给其最佳使用体验</p>
    </div>
  </div>
  <div class="col-lg-3  col-md-6 light-blue lighten-1 text-center text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay="4s"><i class="fa fa-bullhorn fa-2x"></i>
      <div class="h5 mt-3"> 安全保障</div>
      <p class="mt-5">多种认证方式以最大限度保障用户信息安全与便利</p>
    </div>
  </div>
</section>
    </div>
 <footer class="page-footer  indigo darken-2 center-on-small-only pt-0 mt-0">
      <div class=" container">
        <div class=" row">
     <div class="p-5  text-center col-md-12 mt-1">
        <div class="container-fluid ">
          <p>&copy; <a >MACROHARD</a>      -      智简销售</a> </p>
        </div>
     </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>
    <script>new WOW().init();</script>
  </body>
</html>